name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Run a helloworld
      run: echo Hello, world!

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
        # bun-version-file: # optional (e.g. "package.json", ".bun-version", ".tool-versions")
        # registry-url: # optional to use for installing Bun. Set the $BUN_AUTH_TOKEN environment variable to authenticate.
              
